*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
header{
   background-color: white;
   padding: 0.5rem;
   margin-bottom: 5rem;
}
header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>nav>div>h2{
    padding-left: 10rem;
}
header>nav>div>button{
    padding: 0.5rem;
    color: white;
    background-color: orangered;
    border-radius: 0.5rem;
    margin-right: 7rem;
    width: 6.5rem;
}
header>nav>div>button:hover{
    -webkit-text-fill-color: rgb(19, 15, 139);
}
header>nav>div>button{
    animation-name: button;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes button{
    from{background-color:  orangered;}
    to{background-color: green;}
}
main{
    padding-left: 10rem;
    margin-bottom: 8rem;

}
main>div>div>h1{
    margin-bottom: 2rem;
    color: rgb(6, 6, 43);
}
main>div>div>p{
   margin-bottom: 3rem;
   color: rgb(6, 6, 43);
}
.Star{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.color{
    background-color: orangered;
}
.Star>div>h4{
    padding-left: 0.8rem;
    color: rgb(6, 6, 43);
}
main>div>button{
    padding: 0.5rem;
    color: white;
    background-color: orangered;
    border-radius: 0.5rem;
    width: 23rem;
    animation-name: button2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes button2{
    from{background-color:  orangered;}
    to{background-color: rgb(26, 227, 234);}
}
main>div>button:hover{
    -webkit-text-fill-color: rgb(19, 15, 139);
}
.gap1>h4{
    padding-left: 9rem;
    color: rgb(6, 6, 43);
}
.photo{
    float: right;
    padding-right: 15rem;
    margin-top: -18rem;
   
}
.photo>img{
    height: 350px;
    width: 500px;
}
.Star>div>i{
    color: orangered;
}
footer{
    background-color: rgb(9, 9, 71);
}
footer>nav>div>ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 20rem;
}
footer>nav>div>ul>li{

    padding: 4rem;
    font-size: 2rem;
    color: white;
    
}
